* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #000;
    background-color:aliceblue;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
header {
    text-align: center;
    padding: 30px 0;
    border-bottom: 2px solid #000;
    margin-bottom: 20px;
}
header h1 {
    font-size:large;
    margin-bottom: 20px;
    color: #000;
}
header p {
    font-style: normal;
    color:#000;
    padding: 10px;
}
